# Set

In [1]:
my_set={1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
# Basic sets Operation 
## Adding and Removing Elements 

my_set.add(7)
print(my_set)


## removing 
my_set.remove(3)
print(my_set)

{1, 2, 3, 4, 5, 7}
{1, 2, 4, 5, 7}

In [5]:
## discard -> if the element is present it will discard ,otherwise it doesn't show any error

my_set.discard(11) # it will not show any error
print(my_set)

my_set.discard(5)
print(my_set)

{1, 2, 4, 5, 7}
{1, 2, 4, 7}

In [6]:
# pop method 
removed_element = my_set.pop() # it will remove the first element 
print(removed_element) # {1, 2, 4, 7}
print(my_set)

1
{2, 4, 7}

In [7]:
# clear all the elements 
my_set.clear()
print(my_set)

set()

In [9]:
## Set Membership set 
my_set ={1,2,3,4,5}
print(3 in my_set)
print(10 in my_set)

True
False

In [13]:
# Mathematical Operation 

set1= {1,2,3,4,5,8,6}
set2 = { 4,5,6,7,9}

# Union 
union_set =set1.union(set2)
print(union_set)

# Intersection set 
intersection_Set = set1.intersection(set2)
print(intersection_Set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}

In [17]:
set1.intersection_update(set2) 
            # the elements are common in both the sets are updated to set1 
            # in set1 and set2 {4, 5, 6} are common 

print(set1) # Now the value of set1 = {4, 5, 6}

{4, 5, 6}

In [21]:
set1= {1,2,3,4,5,8,6} 
set2 = { 4,5,6,7,9}

## Difference 
print(set1.difference(set2)) # it will show what all elements are miss in set2 (compare to set1)

print(set2.difference(set1))

{8, 1, 2, 3}
{9, 7}

In [23]:
# Symmetric difference 

print(set1.symmetric_difference(set2))

{1, 2, 3, 7, 8, 9}

In [26]:
## Set Methods 
set1={1,2,3}
set2 ={3,4,5}

print(set1.issubset(set2))

'''
    NOTE 
    Every set is a subset of itself 
    Empty set is a subset of every set 
    The total number of finite set containing 'n' elements  is 2^n 
    
'''

False

"\n    NOTE \n    Every set is a subset of itself \n    Empty set is a subset of every set \n    The total number of finite set containing 'n' elements  is 2^n \n    \n"

In [28]:
# Superset 
print(set1.issuperset(set2))

False

In [29]:
## Counting Unique words in text 

text = "Master the theory, practice,and math behind Data Science,Machine Learning,Deep Learning,NLP with end to end projects"
words =text.split()

## convert list of words to set to get unique words 
unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'the', 'behind', 'Master', 'Science,Machine', 'practice,and', 'projects', 'theory,', 'Learning,Deep', 'Learning,NLP', 'end', 'math', 'Data', 'with', 'to'}
14