# Tuples

In [1]:
# creating a tuple 
empty_tuple =()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [4]:
lst=list()
print(type(lst))
tup= tuple()
print(type(tup))

<class 'list'>
<class 'tuple'>

In [5]:
numbers =tuple([1,2,3,4])
print(numbers)

(1, 2, 3, 4)

In [7]:
mixed_tup= (1,"hello World ",3.14,True)
print(mixed_tup)

(1, 'hello World ', 3.14, True)

# Tuple Operations

In [9]:
concatenation_tuple= numbers+mixed_tup
print(concatenation_tuple)

(1, 2, 3, 4, 1, 'hello World ', 3.14, True)

In [12]:
print(mixed_tup* 3)

(1, 'hello World ', 3.14, True, 1, 'hello World ', 3.14, True, 1, 'hello World ', 3.14, True)

## * Immutable Nature of tuple 
## *Tuples are immutable ,meaning their elements cannot be changed once assingned

In [15]:
print(numbers[1])

numbers[1] ="hello"
print(numbers)

2

TypeError: 'tuple' object does not support item assignment

## Tuples Methods

In [16]:
print(numbers.count(1))
print(numbers.index(3))

1
2

## Paking and Unpacking Tuple

In [17]:
packed_tuple= 1,"hello",3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [20]:
a,b,c =packed_tuple
print(a)
print(b)
print(c)

1
hello
3.14

In [22]:
## Unpacking with * 
numbers = (1,2,3,4,5,6,7)
first,*middle,last =numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6]
7

In [26]:
## Nexted Tuples 
lst = [[1,2,3,4],[6,7,8,9],[1,"Hello World ",3.14]]
print(lst[0][2])
print(lst[0][0:3])
print(lst[0][0:])

3
[1, 2, 3]
[1, 2, 3, 4]

In [29]:
print(lst[1][2])
print(lst[1][0:3])
print(lst[1][0:])

8
[6, 7, 8]
[6, 7, 8, 9]

In [28]:
print(lst[2][2])
print(lst[2][0:3])
print(lst[2][0:])

3.14
[1, 'Hello World ', 3.14]
[1, 'Hello World ', 3.14]

In [33]:
nested_tuple= ((1,2,3),("a","b","c"),(True,False))
print(nested_tuple[0])
print(nested_tuple[1][2]) # for geting c

(1, 2, 3)
c

In [37]:
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

# Conclusion

Tuples in Python are ordered, immutable collections of items. They are similar to lists, but once a tuple is created, its elements cannot be modified, added, or removed. This immutability makes tuples suitable for representing fixed collections of data, such as coordinates, database records, or configuration settings. Tuples are defined using parentheses () and elements are separated by commas.